<!-- Add New Modal -->
<div class="modal-header">
    <h4 class="modal-title">Add New School</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="AddSchoolForm">
    <div class="modal-body">
        <div class="form-group">
            <label for="schoolName">School Name</label>
            <input type="text" class="form-control" id="schoolName" formControlName="control_schoolName">
        </div>

        <label>Address</label>
        <div class="form-group">
            <label for="schoolAddressStreet">Street</label>
            <input type="text" class="form-control" id="schoolAddressStreet" formControlName="control_addressStreet">
        </div>
        <div class="form-group">
            <label for="schoolAddressSuburb">Suburb</label>
            <input type="text" class="form-control" id="schoolAddressSuburb" formControlName="control_addressSuburb">
        </div>
        <div class="form-group">
            <label for="schoolAddressPostalCode">Postal Code</label>
            <input type="text" class="form-control" id="schoolAddressPostalCode"
                formControlName="control_addressPostalcode">
        </div>
        <div class="form-group">
            <label for="schoolAddressState">State</label>
            <input type="text" class="form-control" id="schoolAddressState" formControlName="control_addressState">
        </div>

        <div class="form-group">
            <label for="schoolStudentCount">Number of Students</label>
            <input type="number" min="0" step="1" class="form-control" id="schoolStudentCount"
                formControlName="control_studentCount">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="AddSchool()">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>